body {

  margin: 0;
 
 
}

a{
  text-decoration: none;
}

.homepage {
    
    display: flex;
}

.imagenfondo {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
}

.overlay {
    position: absolute;
    top: 15%;
    right: 50%;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(13, 63, 129, 0.8);
   
}
    
.logok {
    position: absolute;
    top:65%;
    right: 14%;
    max-width: 20%;
    z-index: 2;
    display: flex;

}

.barrasuperior {
    position: absolute;
    top: 0%;
    bottom: 85%;
    width: 100%;
    background-color: #042249;
    z-index: 1;
    display: flex;
   }

.botones {

 position: absolute;
 top: 0%;
 left: 11%;
 display: flex;
 z-index: 1;

}

.boton {
    margin: 0% 5%;
    padding: 13% 35%;
    text-align: center;
    font-family: nunito;
    color: #fff;
    white-space: nowrap
   }

.boton:hover {
 background-color: #4A8ADD ;
}

.registrocontenedor {
position: absolute;
top: 80%;
left: 6%;
z-index: 1;
display: flex;
}

.registro {
 margin: 0% 2%;
 padding: 5% 20%;
 font-size: 14px;
 background-color: #042249;
 color: #fff;
 white-space: nowrap;
 border-radius: 5px;
 font-family: nunito black;
}



.introduccion {
 position: absolute;
 top: 35%;
 left: 7%;
 font-family: nunito black;
 color: #fff;
 font-size: 50px;
 line-height: 1.0;
 white-space: nowrap;
 z-index: 1;
}

.textointro {
  position: absolute;
 top: 55%;
 left: 7%;
 right: 58%;
 font-family: nunito;
 color: #fff;
 font-size: 19px;
}



