body {

  margin: 0;
 
 
}

a{
  text-decoration: none;
}

header{
    width: 100%;
  }

.videohome{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-color: rgba(13, 63, 129, 0.6);
   
}
    
.logok {
    position: absolute;
    padding: 20px 50px;
    width: 100px; 
    height: auto;
}

.botones {

 position: absolute;
 top: 75%;
 left: 11%;
 display: flex;
 z-index: 1;
 background-color: #0F356B;

}



.boton:hover {
 color: #4A8ADD ;
}

.registrocontenedor {
position: absolute;
top: 25px;
right: 5%;
justify-content: flex-end;
display: flex;
}

.registro {
 margin: 0% 2%;
 padding: 5% 20%;
 font-size: 14px;
 background-color: #042249;
 color: #fff;
 white-space: nowrap;
 border-radius: 5px;
 transition: 0.4s;
}

.registro:hover {
    background-color: #BCD8FE ;
  }

.introduccion {
 position: relative;
 text-align: center;
 color: #fff;
 font-size: 10vw;
 top: 180px;
 padding: 0 30px;
 
}

.containerButtons {
    position: relative;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    top: 200px;
    text-align: center;
    flex-wrap: wrap;
    background-color: #0F356B;
    padding: 20px 20px;
    justify-content: center;
    display: flex;
  }

  .boton {
    font-size: 25px;
    color: #fff;
    transition: 0.4s;
    margin: 20px;
      }

.wrapper{
    position: relative;
    top: 380px;
    margin-top: 100px ;
    margin: 30px;
    padding: 30px;  
}

.seccion1{
 position: absolute;
 left: 50%;
 top: 100%;
 padding: 7% 7%;
}

.foto1 {
    float: left;
    max-width: 400px;
    border: 5px solid  #0F356B;
    margin-right: 50px;
   }

.texto1 {
 font-size: 20px;
 font-family: nunito;
}

.titulo1 {
 font-family: nunito black;
 line-height: 1.0;
 color: #0F356B;
 font-size: 38px;

}

.sect2 {
    position: relative;
    top: 380px;
    margin-top: 10px ;
    padding: 20px; 
    padding-left: 55px;
    padding-bottom: 50px;
    background-color: #0F356B;
}


.foto2 {
    float: right;
    max-width: 400px;
    margin: 10px;
    display: block;
}

.cuadrotexto2 {
 position: absolute;
 top: 0%;
 right: 60%;
 
 padding: 2% 7% 0% 5%;
}

.titulo2 {
 font-family: nunito black;
 line-height: 1.0;
 color: #fff;
 font-size: 38px;
}

.texto2 {
 font-size: 20px;
 font-family: nunito;
 color: #fff;
}

.footer{
    position: relative;
    top: 380px;
    padding: 40px;
}

@media screen and (max-width: 670px) {
    .registrocontenedor {
        position: absolute;
        top: 10;
        right: 10;
        flex-wrap: wrap;
        justify-content: center;
    }

    .registro {
    margin: 4px;
    }

    .wrapper{
        position: relative;
        top: 380px;
        margin-top: 100px ;
        margin: 30px;
        padding: 30px;
        text-align: center;
    }

    .foto1 {
        max-width: 400px;
        border: 5px solid  #0F356B;
        margin-right: 50px;
        text-align: center;
        display: block; /* Establece el elemento como bloque */
        margin-left: auto; /* Margen automático a la izquierda */
        margin-right: auto; /* Margen automático a la derecha */
    }

    .sect2 {
        position: relative;
        top: 380px;
        margin-top: 100px ;
        margin: 30px;
        padding: 30px;
        text-align: center;
    }
    
    
    .foto2 {
        max-width: 400px;
        margin-right: 50px;
        text-align: center;
        display: block; /* Establece el elemento como bloque */
        margin-left: auto; /* Margen automático a la izquierda */
        margin-right: auto; /* Margen automático a la derecha */
    }


}




